@font-face {
  font-family: "Flaticon";
  src: url(fonts/flaticon.eot);
  src: url(fonts/flaticon.eot#iefix) format("embedded-opentype"),
       url(fonts/flaticon.woff) format("woff"),
       url(fonts/flaticon.ttf) format("truetype"),
       url(fonts/flaticon.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*="fi-"]:before,
[class*="fi-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.fi-behance:before {
  content: "\e000";
}

.fi-email:before {
  content: "\e001";
}

.fi-facebook:before {
  content: "\e002";
}

.fi-light-bulb:before {
  content: "\e003";
}

.fi-linkedin:before {
  content: "\e004";
}

.fi-play:before {
  content: "\e005";
}

.fi-vimeo:before {
  content: "\e006";
}

.fi-video:before {
  content: "\e007";
}

.fi-xing:before {
  content: "\e008";
}

.fi-youtube:before {
  content: "\e009";
}
