
@font-face {
  font-family: 'museo_sans900';
  src: url(fonts/2011-webfont.eot);
  src: url(fonts/2011-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2011-webfont.woff2) format('woff2'),
       url(fonts/2011-webfont.woff) format('woff'),
       url(fonts/2011-webfont.ttf) format('truetype'),
       url(fonts/2011-webfont.svg#museo_sans900) format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'museo_sans900_italic';
  src: url(fonts/2012-webfont.eot);
  src: url(fonts/2012-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2012-webfont.woff2) format('woff2'),
       url(fonts/2012-webfont.woff) format('woff'),
       url(fonts/2012-webfont.ttf) format('truetype'),
       url(fonts/2012-webfont.svg#museo_sans900_italic) format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'museo_sans500';
  src: url(fonts/2007-webfont.eot);
  src: url(fonts/2007-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2007-webfont.woff2) format('woff2'),
       url(fonts/2007-webfont.woff) format('woff'),
       url(fonts/2007-webfont.ttf) format('truetype'),
       url(fonts/2007-webfont.svg#museo_sans500) format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'museo_sans500_italic';
  src: url(fonts/2008-webfont.eot);
  src: url(fonts/2008-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2008-webfont.woff2) format('woff2'),
       url(fonts/2008-webfont.woff) format('woff'),
       url(fonts/2008-webfont.ttf) format('truetype'),
       url(fonts/2008-webfont.svg#museo_sans500_italic) format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'museo_sans700';
  src: url(fonts/2009-webfont.eot);
  src: url(fonts/2009-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2009-webfont.woff2) format('woff2'),
       url(fonts/2009-webfont.woff) format('woff'),
       url(fonts/2009-webfont.ttf) format('truetype'),
       url(fonts/2009-webfont.svg#museo_sans700) format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'museo_sans700_italic';
  src: url(fonts/2010-webfont.eot);
  src: url(fonts/2010-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2010-webfont.woff2) format('woff2'),
       url(fonts/2010-webfont.woff) format('woff'),
       url(fonts/2010-webfont.ttf) format('truetype'),
       url(fonts/2010-webfont.svg#museo_sans700_italic) format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 3, 2015 */



@font-face {
  font-family: 'museo_sans100';
  src: url(fonts/2003-webfont.eot);
  src: url(fonts/2003-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2003-webfont.woff2) format('woff2'),
       url(fonts/2003-webfont.woff) format('woff'),
       url(fonts/2003-webfont.ttf) format('truetype'),
       url(fonts/2003-webfont.svg#museo_sans100) format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'museo_sans100_italic';
  src: url(fonts/2004-webfont.eot);
  src: url(fonts/2004-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2004-webfont.woff2) format('woff2'),
       url(fonts/2004-webfont.woff) format('woff'),
       url(fonts/2004-webfont.ttf) format('truetype'),
       url(fonts/2004-webfont.svg#museo_sans100_italic) format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'museo_sans300';
  src: url(fonts/2005-webfont.eot);
  src: url(fonts/2005-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2005-webfont.woff2) format('woff2'),
       url(fonts/2005-webfont.woff) format('woff'),
       url(fonts/2005-webfont.ttf) format('truetype'),
       url(fonts/2005-webfont.svg#museo_sans300) format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'museo_sans300_italic';
  src: url(fonts/2006-webfont.eot);
  src: url(fonts/2006-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/2006-webfont.woff2) format('woff2'),
       url(fonts/2006-webfont.woff) format('woff'),
       url(fonts/2006-webfont.ttf) format('truetype'),
       url(fonts/2006-webfont.svg#museo_sans300_italic) format('svg');
  font-weight: normal;
  font-style: normal;
}
