@import "bootstrap";
@import "mixins";
@import "flaticons";
@import "museo";


.tac {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.text-white {
  color: #FFF;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  padding: 60px 0;

  @include min-screen-sm() {
    padding-top: 150px;
  }
}

.container, .container-fluid {
  position: relative;
  z-index: 2;

  :last-child {
    margin-bottom: 0;
  }
}

.row-spacing {
  .row + .row {
    margin-top: $grid-gutter-width;

    @include min-screen-sm() {
      margin-top: $grid-gutter-width * 2;
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/background.jpg) center center no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: 1;

  video {
    opacity: 0;
    transition: opacity 500ms;
    position: relative;

    &.visible {
      opacity: 1;
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/grid.png);
	opacity: 0;
  }
}

.player {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: opacity 500ms;
  opacity: 0;
  display: none;

  &.visible {
    opacity: 1;
  }

  &:after {
    position: absolute;
    z-index: 1;
    content: "×";
    color: #FFF;
    right: $grid-gutter-width / 2;
    top: $grid-gutter-width / 2;
    cursor: pointer;
    font-size: $font-size-h3;
    line-height: $font-size-h3;
  }

  iframe {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 10%;

    @include max-screen-sm() {
      height: 72%;
      top: 14%;
    }
  }
}

header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(#FFF, 0.1);
  z-index: 3;
  transition: all 500ms;

  .container {
    height: 100%;
  }

  &:hover.nav-on-hover {
    .burger {
      opacity: 0;
    }

    nav {
      opacity: 1;
      pointer-events: initial;

      a + a {
        margin-left: $grid-gutter-width / 2;
      }
    }
  }

  @include min-screen-sm() {
    height: 150px;
    background: 0;

    &:hover {
      background: rgba(#FFF, 0.1);
    }
  }
}

nav {
  position: absolute;
  right: 70px;
  height: 22px;
  top: 50%;
  margin-top: -11px;
  text-transform: uppercase;
  color: #FFF;
  opacity: 0;
  transition: all 500ms;
  pointer-events: none;

  a {
    transition: all 500ms;
    color: #FFF;

    &:hover, &:active, &:focus {
      text-decoration: none;
      color: #FFF;
    }
  }

  &.visible {
    opacity: 1;
    pointer-events: initial;

    a + a {
      margin-left: $grid-gutter-width / 2;
    }
  }

  @include min-screen-sm() {
    right: 15px;

    &.visible {
      a + a {
        margin-left: $grid-gutter-width;
      }
    }
  }
}

#logo {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -20px;
  display: inline-block;
  transition: all 500ms;
  opacity: 1;
  color: red;

  &.hide-logo {
    opacity: 0;
  }

  svg {
    height: 100%;
    width: 100%;

    path {
      will-change: fill;
      transition: fill 4s;
    }
  }

  img {
    max-width: 100%;
  }

  @include min-screen-sm() {
    height: 70px;
    width: 70px;
    margin-top: -35px;
  }
}

.burger {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  padding: 10px;
  cursor: pointer;
  transition: all 500ms;
  opacity: 1;

  &.close {
    span {
      &:nth-child(1) {
        top: 0;
        transform: translateY(10px) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateY(-50%) scale(0);
      }

      &:nth-child(3) {
        bottom: 0;
        transform: translateY(-11px) rotate(-225deg);
      }
    }
  }

  span {
    position: absolute;
    height: 3px;
    background: #FFF;
    width: 100%;
    left: 0;
    transition: all 500ms;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      margin-top: -1.5px;
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}

#youbetter {
 width: 380px;
 position: relative;
 top: -3px;

 @include min-screen-sm() {
   top: -5px;

   &-container {
     font-size: 65px;
   }
 }

 @include max-screen-sm() {
   width: 280px;

   &-container {
     font-size: 47px;
   }
 }
}

#youbetter-container {
  font-size: 47px;

  span {
    width: 271px;
    display: inline-block;
    height: 1px;
    font-size: 0;
    position: relative;

    &:before {
      width: 100%;
      height: 54px;
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      background: url(../images/yb_text.svg) center center no-repeat;
      background-size: contain;
    }
  }

  @include min-screen-sm() {
    font-size: 65px;

    span {
      width: 374px;

      &:before {
        height: 65px;
      }
    }
  }
}

.btn-outline {
  display: block;
  text-align: center;
  padding: 10px;
  border: 2px solid #FFF;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: $grid-gutter-width / 2;
  font-size: $font-size-small;
  transition: all 500ms;

  &:hover {
    background: #FFF;
    color: $text-color;
    text-decoration: none;
  }

  @include min-screen-sm() {
    display: inline-block;
    min-width: 140px;
    margin: 0;

    + .btn-outline {
      margin-left: $grid-gutter-width / 2;
    }
  }
}

.social-buttons {
  color: #FFF;

  a {
    color: inherit;
    text-decoration: none;
    transition: all 500ms;
	

    &:hover {
      color: #000;
    }

    + a {
      margin-left: $grid-gutter-width;
    }
  }
}

#imprint {
  display: inline-block;
  margin-top: $grid-gutter-width / 2;
}

#imprint, .imprint a {
  &, &:hover {
    color: #FFF;
    text-decoration: none;
  }
}

.teaser {
  text-align: center;
  color: #FFF;
  margin-bottom: $grid-gutter-width;

  h2 {
    text-transform: uppercase;
    font-size: $font-size-base;
  }

  figure {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: rgba(#FFF, 0.1);
    margin: 0 auto;
  }

  i {
    display: inline-block;
    position: relative;
    top: 17px;

    &:before {
      font-size: 34px;
    }
  }

  @include min-screen-sm() {
    margin-bottom: 0;
  }
}

.videos {
  padding: 0;
  position: relative;
  margin-bottom: $grid-gutter-width;
  min-height: 200px;
}

.spinner {
  opacity: 0;
  transition: opacity 500ms;

  &.visible {
    opacity: 1;
  }
}

.video {
  height: 200px;
  position: relative;
  color: #FFF;
  text-shadow: 0 0 10px #000;
  cursor: pointer;
  overflow: hidden;
  transition: opacity 500ms;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &:hover {
    .video-image {
      transform: scale(1.2);
    }

    .video-overlay {
      opacity: 1;
      transform: scale(1);
    }
  }

  &-image, &-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &-image {
    background: center center no-repeat;
    background-size: cover;
    transition: transform 500ms;
  }

  &-overlay {
    opacity: 0;
    background: rgba(#ff006c, 0.7);
    transform: scale(1.5);
    text-align: center;
    transition-duration: 500ms;
    transition-property: transform, opacity;

    .type {
      width: 100%;
      position: absolute;
      bottom: 50%;
      margin-bottom: 0px;
      font-family: museo_sans900_italic;
      text-transform: uppercase;
	
     
    }

    .name {
      width: 100%;
      position: absolute;
      margin-top: -8px;
      padding: 0 $grid-gutter-width / 2;
      top: 50%;
      font-family: museo_sans300;
	  text-transform: uppercase;

	
    }
  }
}
